<section class="container">
  <div class="container">
    <div class="row">
      <h1>Exercises</h1>
      <div class="col-xs-12 exercises-intro">Welcome to my web playground! Here I have some exercises during my learning process at GA that helps me build on different web development aspects.
      </div>
      <div class="col-xs-12 ex1">The first project was a 
      </div>
    </div>
  </div>
</section>