<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>HIHI</h1>
      <!-- <a href="/dog">Go to Doge page</a> -->
      <!-- which is the same as -->
      <%= link_to "Go to the Doge page", dog_path %>
    </div>
  </div>
</div>