<section class="container">

  <div class="cc-jumbo row">
    <!-- <div class=""> -->
      <h1>Welcome, I'm under construction at the moment... please check back again soon for updates</h1>
      <p></p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
    <!-- </div> -->
  </div>


  <div class="row">
    <% image_tag 'alexchoihknightbalcview.jpg', :class => 'cc-intro col-xs-offset-1 col-xs-10', :id => '', :width => '', :height => '' %>
  </div>
</section>