.cc-body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.cc-jumbo {
  margin: 40px 0 0 0 ;
  background-color: #333;
  color: #000;
  border:1px;
  padding: 5px;
  text-align: center;
}

.cc-no-margin {
  margin:0;
  padding:0;
}

.cc-splash {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), image-url('alexchoisaikungtree.jpg') no-repeat;
  background-position: center;
  width: cover;

}

.cc-intro {
  background-position: center;
  max-height: 600px;
  padding: 100px;
  margin: 0 auto;
}

/*font-family: 'Luckiest Guy', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Sigmar One', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Syncopate', sans-serif;
font-family: 'Cherry Cream Soda', cursive;
font-family: 'Permanent Marker', cursive;*/

.cc-heading {
  height: 150px;
  opacity: 100%;
  font-family: 'Syncopate', cursive;
  font-size: 58px;
  text-align: center;
  // padding: 10px 0 0 0 ;
  font-weight: bold;
  color: #FFF;
  margin:0;
}

.cc-heading-fill {
  font-family: 'Syncopate', cursive;
  font-size: 25px;
  margin: 0;
}

/*.cc-navbar {
  background: #222;
  margin: 0;
  padding: 0;
}*/


.ccc-home, .ccc-about-me, .ccc-portfolio, .ccc-links {
  font-family: 'Syncopate', cursive;
  text-align: center;
  // line-height: 100%;
  border: 3px solid #666;
  background: #222;
  color: #FFF;
  padding: 20px 0;
}

.ccc-home:hover, .ccc-about-me:hover, .ccc-portfolio:hover, .ccc-links:hover {
  color: #222;
  background: #FFF;
  // font-size:110%;
  font-weight: bolder;
}

.fa {
  margin: 0 5px;
}

.cc-exercises {
  font-size: 55px;
  text-align: center;
  font-family: 'Syncopate', cursive;
  width: auto;
  max-width: 1300px;
  color:#FFF;
}

.cc-exercise-content {
  border: 5px solid #FFF;
  height: 500px;
  font-size: 23px;
}

.fa.fa-home {
  // display: inline-block;

}

/*width sized styling*/

@media(max-width: 640px){
  .cc-body{
    margin:15px;
  }
  .cc-splash {
    height: 800px;
  }
  .cc-heading {
    font-size: 38px;
    height: 80px;
  }
  .cc-heading-fill {
    font-size: 14px;
  }
  .ccc-home, .ccc-about-me, .ccc-portfolio, .ccc-links {
    font-size: 8px;
  }
  .cc-intro {
    
  }
}

@media(min-width: 640px){
  .cc-body {
    margin: 20px 0;
  }
  .cc-splash {
    height: 800px;
  }
  .cc-heading {
    font-size: 58px;
  }
  .cc-heading-fill {
    font-size: 25px;
  }
}

@media(min-width: 800px){
  .cc-body {
    margin: 20px 0;
  }
  .cc-splash {
    height: 800px;
  }
  .cc-heading {
    font-size: 37px;
  }
  .cc-heading-fill {
    font-size: 25px;
  }
}

@media(min-width: 1024px){
  .cc-body {
    margin: 20px 0;
  }
  .cc-splash {
    height: 800px;
    margin: 10px;
  }
  .cc-heading {
    font-size: 58px;
  }
  .cc-heading-fill {
    font-size: 25px;
  }
}

@media(min-width: 1280px){
  .cc-body {
    margin: 20px 0;
  }
  .cc-splash {
    height: 800px;
  }
  .cc-heading {
    font-size: 58px;
  }
  .cc-heading-fill {
    font-size: 25px;
  }
}